@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}

.auth-side {
  background-image: url('/assets/images/onboarding-img.png');
  background-repeat: no-repeat;
  background-color: #2D338F;
  /* width: 381px; */
  position: fixed;
  min-height: 100vh;
}

.login-page {
  background-image: url('/assets/images/login-image.png');
  background-repeat: no-repeat;
  background-color: #2D338F;
  /* position: fixed; */
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
